@import url(reset.css);

/* main.css */
*{-webkit-text-size-djust:none;}
body{color:#666;font-size:14px;font-family:Helvetica,AppleGothic, "맑은 고딕";}
a:visited{color:#333;}
a,a:link{text-decoration:none;}
a:hover,a:active{color:#fff;text-decoration:none;}

/* layout */
body > header{position:relative;width:100%;background:#fd632b;height:40px;}
body > section{width:100%;}

body > footer{width:100%;position:fixed;bottom:0;}

/* header */
header > h2{font-size:19px;letter-spacing:1px;font-weight:bold;color:#fff;text-align:center;line-height:40px;}
header > a.backBtn{position:absolute;top:9px;left:9px;}
header > a.allMenuBtn{position:absolute;top:10px;right:9px;}

/* section */
section > section{width:360px;margin:0 auto;height:600px;}
section > section:after{content:"";display:block;clear:both;}
section > div{background:url(../images/blur_img.png) no-repeat 0 0;width:100%;height:130px;}
section > div > p{position:relative;top:21px;width:235px;margin:0 auto;color:#fff;text-align:center;font-size:15px;line-height:200%;letter-spacing:0.5px;padding:12px 8px;border:3.5px solid #fff;}

section > dl{position:relative;width:155px;margin:15px 10px;height:235px;border-radius:.8em;background:#e1e1e1;float:left;text-align:center;}
section > dl > dt > a > img{border-radius:.8em .8em 0 0;width:100%;height:100px;margin-bottom:8px;}
section > dl > dt > a > span{font-size:16px;color:#fd632b;font-weight:bold;}
section > dl > dd:first-of-type{color:#333;font-size:14px;font-weight:bold;text-align:right;padding:5px 10px 5px 0;}
section > dl > dd:first-of-type span{color:#6d6d6d;font-size:12px;font-weight:bold;padding-right:5px;}
section > dl > dd:nth-of-type(2){padding-right:5px;padding-left:5px;}
section > dl > dd:nth-of-type(2) a{color:#666;font-size:13px;text-align:justify;}
section > dl > dd:nth-of-type(2) p{text-align:right;}
section > dl > dd:nth-of-type(2) p img{padding-right:5px;padding-top:5px;}
section > dl > dd:nth-of-type(2) p span{font-size:15px;color:#fd632b;background:#f5f5f5;padding:3px;border-radius:.3em;vertical-align:bottom;}
section > dl > dd:last-child{position:absolute;top:-20px;left:-10px;}

/* footer */
footer > ul > li > a{color:#fff;display:block;width:100%;height:60px;font-size:15px;line-height:60px;text-align:center;}
footer > ul > li > a:visited{color:#fff;}
footer > ul > li{float:left;width:33%;height:60px;border-right:1px solid #818181;
background: rgba(27,23,23,1);
background: -moz-linear-gradient(top, rgba(27,23,23,1) 0%, rgba(27,23,23,1) 19%, rgba(69,69,69,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,23,23,1)), color-stop(19%, rgba(27,23,23,1)), color-stop(100%, rgba(69,69,69,1)));
background: -webkit-linear-gradient(top, rgba(27,23,23,1) 0%, rgba(27,23,23,1) 19%, rgba(69,69,69,1) 100%);
background: -o-linear-gradient(top, rgba(27,23,23,1) 0%, rgba(27,23,23,1) 19%, rgba(69,69,69,1) 100%);
background: -ms-linear-gradient(top, rgba(27,23,23,1) 0%, rgba(27,23,23,1) 19%, rgba(69,69,69,1) 100%);
background: linear-gradient(to bottom, rgba(27,23,23,1) 0%, rgba(27,23,23,1) 19%, rgba(69,69,69,1) 100%);}
footer > ul > li:hover, li:active{	
background: rgba(252,76,12,1);
background: -moz-linear-gradient(top, rgba(252,76,12,1) 0%, rgba(252,76,12,1) 19%, rgba(234,123,83,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,76,12,1)), color-stop(19%, rgba(252,76,12,1)), color-stop(100%, rgba(234,123,83,1)));
background: -webkit-linear-gradient(top, rgba(252,76,12,1) 0%, rgba(252,76,12,1) 19%, rgba(234,123,83,1) 100%);
background: -o-linear-gradient(top, rgba(252,76,12,1) 0%, rgba(252,76,12,1) 19%, rgba(234,123,83,1) 100%);
background: -ms-linear-gradient(top, rgba(252,76,12,1) 0%, rgba(252,76,12,1) 19%, rgba(234,123,83,1) 100%);
background: linear-gradient(to bottom, rgba(252,76,12,1) 0%, rgba(252,76,12,1) 19%, rgba(234,123,83,1) 100%);}

/* 전체메뉴 */
.allMenuBg{display:none;z-index:40;position:absolute;left:0;top:0;width:100%;height:680px;background:#000;opacity:0.7;}
.allMenu{display:none;z-index:50;position:absolute;right:0;top:0;width:200px;height:680px;background:#fff;}
.allMenu > ul{height:45px;border-top:1px solid #a1a1a1;background:#fff;}
.allMenu > ul:nth-of-type(1) > li{float:left;padding:5px 0 0 20px;}
.allMenu > ul:nth-of-type(1) > li a{color:#333;display:block;height:39px;padding-left:25px;font-size:12px;line-height:39px;}
.allMenu > ul:nth-of-type(1) > li:nth-of-type(1) a{width:60px;background:url(../images/userInfo.png) no-repeat 0 50%;}
.allMenu > ul:nth-of-type(1) > li:nth-of-type(2) a{width:26px;background:url(../images/setting.png) no-repeat 0 50%;}

.mobileGnb > li > a{display:block;width:77%;height:55px;padding-left:23%;background:#fff;border-bottom:1px solid #a1a1a1;font-size:15px;line-height:55px;}
.mobileGnb > li > a:visited,a:hover,a:active{color:#333;}
.mobileGnb > li:nth-of-type(1) > a{background:#fff url(../images/menu1_m.png) no-repeat 78% 45%;}
.mobileGnb > li:nth-of-type(2) > a{background:#fff url(../images/menu2_m.png) no-repeat 78% 45%;}
.mobileGnb > li:nth-of-type(3) > a{background:#fff url(../images/menu3_m.png) no-repeat 78% 45%;}
.mobileGnb > li:nth-of-type(4) > a{background:#fff url(../images/menu4_m.png) no-repeat 78% 45%;}
.mobileGnb > li:nth-of-type(5) > a{background:#fff url(../images/menu5_m.png) no-repeat 78% 45%;}
.mobileGnb > li:nth-of-type(6) > a{background:#fff url(../images/menu6_m.png) no-repeat 78% 45%;}
.mobileGnb > li:nth-of-type(7) > a{background:#fff url(../images/menu7_m.png) no-repeat 76% 48%;}
.mobileGnb > li:nth-of-type(8) > a{background:#fff url(../images/menu8_m.png) no-repeat 78% 45%;}
.mobileGnb > li:hover{background:#ffddd0;}
.mobileGnb > li a:hover{color:#fd632b;}

.closeBtn{position:absolute;left:12px;top:10px;}
.logoutBtn{position:absolute;right:8px;top:10px;}

.user{height:140px;background:#e3e0e0 url(../images/userImg.png) no-repeat 50% 40%;text-align:center;}
.user > p{position:absolute;left:0;top:100px;width:100%;font-size:14px;line-height:14px;color:#222;}
.user > p > span{font-size:10px;color:#666;}